TMP_LOG_PATH/radosgw-admin.log
TMP_LOG_PATH/rgw_setup.log
TMP_LOG_PATH/rgw_support_bundle.log
TMP_LOG_PATH/rgw-??.log{
    rotate 15
    maxsize 10M
    weekly
    compress
    missingok
    dateext
    dateformat -%Y-%m-%d-%s.log
    notifempty
    copytruncate
}
